[submodule "themes/bubuzou"]
	path = themes/bubuzou
	url = git@github.com:kaddopur/hexo-theme-bubuzou.git
[submodule "themes/aero-dual"]
	path = themes/aero-dual
	url = https://github.com/levblanc/hexo-theme-aero-dual.git
